<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.loginmodule">
    <application>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name="com.demo.loginmodule.activity.LoginActivity" />
    </application>
</manifest>