<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.md.loginmodule">

    <application>
        <activity
            android:name="com.md.loginmodule.activity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/base_FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.md.loginmodule.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/base_FullscreenTheme" />

        <activity android:name="com.md.loginmodule.activity.HomeActivity" />
        <activity android:name="com.md.loginmodule.activity.FindPsdActivity" />
        <activity android:name="com.md.loginmodule.activity.PhoneVerificationActivity" />
        <activity
            android:name="com.md.loginmodule.activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/base_FullscreenTheme" />
        <activity android:name="com.md.loginmodule.activity.SetPsdActivity" />
        <activity android:name="com.md.loginmodule.activity.UserAgreementActivity" />

    </application>

</manifest>